@charset "utf-8";
*{
    box-sizing:border-box;
}
/*----------GRID----------*/
/*----------GRID----------*/
main{
    max-width:800px;
    margin:auto;
    border:1px solid black;
    background:white;
}
img{
    width:100%;
}
article{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
}
article div{
    padding:5px;
    border:1px solid gray;
    border-radius:5px;
}
body{
    background:gray;
}
section{
    display:grid;
    grid-template-columns:50px auto 50px; 
}